<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{create}"></a>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Author</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog, status : ${blogList}">
            <td th:text="${status.index} + 1"></td>
            <td><a th:text="${blog.getTitle()}" th:href="@{detail/__${blog.getId()}__}"></a></td>
            <td th:text="${blog.getAuthor()}"></td>
            <td><a th:href="@{update/__${blog.getId()}__}">Edit</a></td>
            <td><a th:href="@{delete/__${blog.getId()}__}">Remove</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>