<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{create}" th:text="Create"></a>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Author</th>
            <th colspan="3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="items, status : ${blogList}">
            <td th:text="${status.index} + 1"></td>
            <td><a th:text="${items.getTitle()}" th:href="@{detail/__${items.getId()}__}"></a></td>
            <td th:text="${items.getAuthor()}"></td>
            <td th:text="${items.getCategory().getName()}"></td>
            <td><a th:href="@{update/__${items.getId()}__}">Edit</a></td>
            <td><a th:href="@{delete/__${items.getId()}__}">Remove</a></td>
        </tr>
        </tbody>
    </table>
<!--<div>-->
<!--    <a th:href="@{'/'(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${blogList.number + 1}"></span> / <span th:text="${blogList.totalPages}"></span>-->
<!--    <a th:href="@{'/'(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>-->
<!--</div>-->
</body>
</html>