<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!--<div th:replace="/layout/header :: header"></div>-->
<!--<div th:replace="/layout/header :: navbar"></div>-->
<div class="container-fluid" style="padding-bottom: 100px; padding-top: 30px">
    <div class="row">
        <div class="col-lg-4">
            <h3>
                Order List
            </h3>
        </div>
        <div class="col-lg-4" align="center" style="color: red;">
            <div class="notify">
                <div th:if="${msg}">
                    <span th:text="${msg}"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
<!--            <form class="d-flex" th:action="@{/list}">-->
<!--                <input class="form-control me-2" style="width: 50%" type="text" placeholder="Search" aria-label="Search"-->
<!--                       name="name" th:value="${name}">-->
<!--                <button class="btn btn-outline-dark" type="submit">Search</button>-->
<!--            </form>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr align="center">
                    <th scope="col">STT</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Type</th>
                    <th scope="col">Buy Date</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product,status : ${products}" align="center">
                    <td th:text="${status.count}"></td>
                    <td th:text="${product.getId()}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td th:text="${product.getProductType().name}"></td>
                    <td th:text="${product.getOrder().getBuyDate()}"></td>
                    <td th:text="${product.getOrder().getQuantity()}"></td>
                    <td th:text="${product.getOrder().getQuantity()*product.getPrice()}"></td>
                    <td><a class="btn btn-warning" th:href="@{/product/edit/__${product.getId()}__}">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/product/list'(page=${products.number - 1})}"
                           th:if="${products.hasPrevious()}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/product/list'(page=${products.number + 1})}"
                           th:if="${products.hasNext()}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div align="center">
                    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>