<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{create}"></a>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Blogs</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, status : ${categoryList}">
            <td th:text="${status.index} + 1"></td>
            <td th:text="${category.getName()}"></td>
            <td><a th:href="@{update/__${category.getId()}__}">Edit</a></td>
            <td><a th:href="@{delete/__${category.getId()}__}">Remove</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>