<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home Page</h1>
<div sec:authorize="isAuthenticated()">
    <h1>Login Success</h1>
    <h1>Hello: <span sec:authentication="principal.username"></span></h1>

    <h1 sec:authorize="hasRole('ADMIN')" style="color: red">Hello admin</h1>
    <h1 sec:authorize="hasRole('USER')" style="color: green">Hello user</h1>
</div>
</body>
</html>