<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
    <div class="container-fluid">
        <div class="row" style="padding-top: 12px; padding-bottom: 15px">
            <div class="col-lg-4" style="font-family: 'Segoe UI'" align="center">
                <a href="/home">
                    <img src="/images/logo.png" height="100" width="63"/>
                </a>
            </div>
            <div class="col-lg-5" style="font-size: 13px; font-family: 'Segoe UI'">
                <p>
                    <svg style="color: darkolivegreen" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    103 – 105 Đường Võ Nguyên Giáp, Phường Khuê Mỹ, Quận Ngũ hành Sơn, Tp. Đà Nẵng, Việt Nam
                </p>
                <p>
                    <span style="color: darkolivegreen">7.0 km</span> từ Sân bay Quốc tế Đà Nẵng
                </p>
            </div>
            <div class="col-lg-3" style="font-size: 13px; font-family: 'Segoe UI'">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-telephone-fill" viewBox="0 0 16 16" style="color: darkolivegreen">
                        <path fill-rule="evenodd"
                              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    Phone: 84-236-3847 333/888
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-envelope-fill" viewBox="0 0 16 16" style="color: darkolivegreen;">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                    </svg>
                    Email: reservation@furamavietnam.com
                </p>
                <p>
                    <svg style="color: darkolivegreen" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span th:if="${#request.userPrincipal}!=null"> Welcome :
                        <span th:utext="${#request.userPrincipal.name}" style="color: red"></span>
                    </span></br>
                    <a th:if="${#request.userPrincipal}!=null" th:href="@{/logout}">
                        <button class="btn btn-warning btn-sm">
                            <span>Logout</span>
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div th:fragment="navbar" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkolivegreen;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Furama Resort</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 90px">
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/list">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/list">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service/list">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contract/list">Contract</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>