<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${book}" method="post" th:action="@{/rent}">
    <div>
        <label>Id: </label>
        <input th:field="*{id}" th:value="${book.getId()}"/>
    </div>
    <div>
        <label>Name: </label>
        <input th:field="*{name}" th:value="${book.getName()}"/>
    </div>
    <div>
        <label>Content: </label>
        <input th:field="*{content}" th:value="${book.getContent()}"/>
    </div>
    <div>
        <label>Amount: </label>
        <input th:field="*{amount}" th:value="${book.getAmount()}"/>
    </div>
    <input type="submit" th:value="Rent">
</form>
</body>
</html>