<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h3>Create BLog</h3>
<p>
    <a th:href="@{/display}">
        Back to blog list
    </a>
</p>
<form th:action="@{/create}" th:object="${blog}" method="post" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <label>Content:</label>
        <input type="text" th:field="*{content}">
    </div>
    <div>
        <label>Ending:</label>
        <input type="text" th:field="*{ending}">
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>